.games-menu {
  display: flex;
  width: 800px;
  margin: auto;
  justify-content: center;
  gap: 2rem;
  // overflow-x: auto;

  &-card {
    position: relative;
    height: 5rem;
    aspect-ratio: 1;
    text-align: center;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: lightcoral;
    }

    &--current {
      background-color: coral;

      &:hover {
        cursor: default;
        background-color: coral;
      }
    }

    &--user-is-creator::before {
      content: "***";
    }
    
    &--invalid {
      background-color: $dark-grey;
      color: $light-grey;
      &:hover {
        cursor: not-allowed;
        background-color: $dark-grey;
      }
    }

    &__title {
      font-weight: bold;
      font-size: 1.5em;
    }

    &__icon {
      width: 1.5rem;
      position: absolute;
      bottom: -.5rem;
      right: -.5rem;
    }
  }
}