.board-clues {
  width: fit-content;
  height: fit-content;
  display: flex;
  
  &--columns {
    flex-direction: row;
    margin-left: auto;
    
    .board-clues__row {
      flex-direction: column;
      border-right: 1px solid #bbb;
      
      &:last-of-type {
        border-right: none;
      }
    }
  }
  
  &--rows {
    flex-direction: column;
    
    .board-clues__row {
      border-bottom: 1px solid #bbb;
      
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  
  &__row {
    display: flex;
    justify-content: flex-end;
    
    &:nth-of-type(2n) {
      background-color: #0001;
    }
    
    
    &__cell {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
  
}

