.board {
  background-color: white;
  display: grid;
  width: fit-content;
  margin: 0 auto;
  border: 2px solid $dark-grey;
  
  &-row {
    display: flex;
    border-top: 1px solid $light-grey;
    
    &:nth-of-type(6n) {
      border-top: 2px solid $light-grey;
    }

    &:first-of-type {
      border-top: none;
    }
    
  }
  
  &-cell {
    border-left: 1px solid $light-grey;

    &:first-of-type {
      border: none;
    }

    &:nth-of-type(6n) {
      border-left: 2px solid $light-grey;
    }

    &--on {
      background-color: black;
    }
    
    &--off {
      position: relative;

      &:before, &:after {
        position: absolute;
        content: "";
        left: calc(50% - 0.5px);
        height: 100%;
        width: 1px;
        background-color: $dark-grey;
      }
      
      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

  }

}

