.board {
  background-color: white;
  display: grid;
  width: fit-content;
  margin: 0 auto;
  border: 2px solid #555;
  
  &-row {
    display: flex;
    border-bottom: 1px solid #555;
    
    &:last-of-type {
      border-bottom: none;
    }
    
    &:nth-of-type(2n) {
      // background-color: #eee;
    }
    
    &:nth-of-type(5n) {
      border-bottom-color: #000;
    }
  }
  
  &-cell {
    border-right: 1px solid #555;

    &:last-of-type {
      border-right: none;
    }

    &:nth-of-type(5n) {
      border-right-color: #000;
    }

    &:nth-of-type(2n) {
      // background-color: #eee;
    }

    &--on {
      background-color: black;
    }
    
    &--off {
      background-color: gray;
    }

  }

}

