.game {
  width: fit-content;
  margin: 3rem auto;

  &-color {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: .5rem 0;

    &__square {
      width: 2rem;
      height: 1rem;
    }
  }

  &-area {
    padding: 2rem;
    border: 1px solid darkgray;

    &-lower {
      display: flex;
      width: fit-content;
      margin-left: auto;
    }

    &-completion {
      font-size: 2rem;
      color: green;
      font-variant: small-caps;
      margin-top: .5rem;
    }
  }


}