.login {
  position: fixed;
  right: 2rem;
  border: 1px solid black;
  padding: .5rem;
  width: 25vw;

  &-inputs {
    display: flex;
    flex-direction: column;
    justify-items: end;
    gap: .25em;

    & label {
      display: flex;
      justify-content: flex-end;

      & input {
        margin-left: .25em;
        width: 10rem;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: .5rem;
  }

  &-message {
    margin: .25em 0;
    // inline-size: 20rem;
  }
}