.board-clues {
  width: fit-content;
  height: fit-content;
  display: flex;
  
  &--columns {
    flex-direction: row;
    margin-left: auto;
    margin-right: 2px;
    
    .board-clues__row {
      flex-direction: column;
      border-left: 1px solid $light-grey;
      
      &:first-of-type {
        border-left: none;
      }
      
      &:nth-of-type(6n) {
        border-left: 2px solid $mid-grey;
      }
    }
  }
  
  &--rows {
    flex-direction: column;
    margin-top: 2px;
    
    .board-clues__row {
      border-top: 1px solid $light-grey;
      
      &:first-of-type {
        border-top: none;
      }

      &:nth-of-type(6n) {
        border-top: 2px solid $mid-grey;
      }
    }
  }
  
  &__row {
    display: flex;
    justify-content: flex-end;
    
    &:nth-of-type(2n) {
      background-color: #0001;
    }
    
    
    &__cell {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
  
}

